In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.linear_model import LinearRegression

In [2]:
f, t = load_iris(return_X_y=True)

In [3]:
dataset = np.hstack((f, t.reshape(-1,1)))

In [4]:
columns = [
    "sepal length (cm)",
    "sepal width (cm)",
    "petal length (cm)",
    "petal width (cm)",
    "category"
]

In [5]:
dataset = pd.DataFrame(dataset, columns=columns)

In [6]:
dataset.sample(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),category
147,6.5,3.0,5.2,2.0,2.0
76,6.8,2.8,4.8,1.4,1.0
39,5.1,3.4,1.5,0.2,0.0

In [7]:
target, features = dataset["sepal length (cm)"], dataset.drop("sepal length (cm)", axis=1)

##### TrainTestSplit

In [8]:
trainX, testX, trainy, testy = train_test_split(features, target, random_state=42, test_size=0.25)

#### Let's try building a simple Linear Model out of this ragged dataset

In [9]:
linear_model = LinearRegression().fit(trainX, trainy)

In [10]:
linear_model.score(testX, testy)

0.8644174403751935

In [19]:
columns.remove("sepal length (cm)")

In [20]:
columns

['sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [23]:
from sklearn.preprocessing import StandardScaler
### Essayons de standiser les donnees pour voir a quoi cela va ressembler
featuresScaled = StandardScaler().fit_transform(features)
featuresScaled = pd.DataFrame(featuresScaled)
featuresScaled.describe()

                  0             1             2             3
count  1.500000e+02  1.500000e+02  1.500000e+02  1.500000e+02
mean  -1.842970e-15 -1.698641e-15 -1.409243e-15  1.184238e-17
std    1.003350e+00  1.003350e+00  1.003350e+00  1.003350e+00
min   -2.433947e+00 -1.567576e+00 -1.447076e+00 -1.224745e+00
25%   -5.923730e-01 -1.226552e+00 -1.183812e+00 -1.224745e+00
50%   -1.319795e-01  3.364776e-01  1.325097e-01  0.000000e+00
75%    5.586108e-01  7.627583e-01  7.906707e-01  1.224745e+00
max    3.090775e+00  1.785832e+00  1.712096e+00  1.224745e+00

In [ ]:
X_train_Scaled, X_test_Scaled, y_train_Scaled, y_test_Scaled = train_test_split(featuresScaled, target, test_size=0.25)