In [18]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.linear_model import LinearRegression
import pickle

In [19]:
f, t = load_iris(return_X_y=True)

In [20]:
dataset = np.hstack((f, t.reshape(-1,1)))

In [21]:
columns = [
    "sepal length (cm)",
    "sepal width (cm)",
    "petal length (cm)",
    "petal width (cm)",
    "category"
]

In [22]:
dataset = pd.DataFrame(dataset, columns=columns)

In [23]:
dataset.sample(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),category
142,5.8,2.7,5.1,1.9,2.0
75,6.6,3.0,4.4,1.4,1.0
127,6.1,3.0,4.9,1.8,2.0

In [24]:
target, features = dataset["sepal length (cm)"], dataset.drop("sepal length (cm)", axis=1)

##### TrainTestSplit

In [25]:
trainX, testX, trainy, testy = train_test_split(features, target, random_state=42, test_size=0.25)

#### Let's try building a simple Linear Model out of this ragged dataset

In [26]:
linear_model = LinearRegression().fit(trainX, trainy)

In [27]:
linear_model.score(testX, testy)

0.8644174403751935

##### A simple Linear model perform so well without a preprocessing.
let's save this model before moving foreword

In [28]:
model_name = "models/iris_model.sav"
pickle.dump(linear_model, open(model_name, 'wb'))

In [29]:
from sklearn.preprocessing import MinMaxScaler
### Essayons de standiser les donnees pour voir a quoi cela va ressembler
featuresScaled = MinMaxScaler().fit_transform(features)
featuresScaled = pd.DataFrame(featuresScaled)
featuresScaled.describe()

                0           1           2           3
count  150.000000  150.000000  150.000000  150.000000
mean     0.440556    0.467458    0.458056    0.500000
std      0.181611    0.299203    0.317599    0.409616
min      0.000000    0.000000    0.000000    0.000000
25%      0.333333    0.101695    0.083333    0.000000
50%      0.416667    0.567797    0.500000    0.500000
75%      0.541667    0.694915    0.708333    1.000000
max      1.000000    1.000000    1.000000    1.000000

In [33]:
trainXScaled, testXScaled, trainyScaled, testyScaled = \
 train_test_split(featuresScaled, target, random_state=42, test_size=0.25)

In [34]:
linear_model = LinearRegression().fit(trainX, trainy)
linear_model.score(testXScaled, testyScaled)

0.8644174403751943